In [1]:
# Load the hotel reviews from CSV
import pandas as pd
import time
# importing time so the start and end time can be used to calculate file loading time
print("Loading data file now, this could take a while depending on file size")
start = time.time()
# df is 'DataFrame' - make sure you downloaded the file to the data folder
df = pd.read_csv('Hotel_Reviews.csv')
end = time.time()
print("Loading took " + str(round(end - start, 2)) + " seconds")

Loading data file now, this could take a while depending on file size
Loading took 3.49 seconds

In [2]:
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [3]:
df_shape = df.shape
print('There are', df_shape[0], 'rows and ', df_shape[1], 'columns in the dataset')

There are 515738 rows and  17 columns in the dataset

In [4]:
print('They are', df['Reviewer_Nationality'].nunique(), 'distinct values in the Reviewer_Nationality column')

They are 227 distinct values in the Reviewer_Nationality column

In [5]:
top_ten_country = df['Reviewer_Nationality'].value_counts()[:10].index

In [6]:
top_ten_country

Index([' United Kingdom ', ' United States of America ', ' Australia ',
       ' Ireland ', ' United Arab Emirates ', ' Saudi Arabia ',
       ' Netherlands ', ' Switzerland ', ' Germany ', ' Canada '],
      dtype='object')

In [7]:
(df.loc[df['Reviewer_Nationality'] == ' United Kingdom ','Total_Number_of_Reviews']).sum()

710386932

In [8]:
df['Total_Number_of_Reviews'].sum()

1415053014

In [9]:
country_review_dict = {'Country': list(top_ten_country),'Reviews':[]}
for country in list(top_ten_country):
    country_review_dict['Reviews'].append((df.loc[df['Reviewer_Nationality'] == country,'Total_Number_of_Reviews']).sum())

In [11]:
country_review_df = pd.DataFrame(country_review_dict)
country_review_df

                      Country    Reviews
0             United Kingdom   710386932
1   United States of America    82586022
2                  Australia    54285064
3                    Ireland    45148704
4       United Arab Emirates    25365058
5               Saudi Arabia    22333044
6                Netherlands    22686489
7                Switzerland    22327217
8                    Germany    21761600
9                     Canada    20113069

In [12]:
df['Reviewer_Nationality'].value_counts()[:10]

 United Kingdom               245246
 United States of America      35437
 Australia                     21686
 Ireland                       14827
 United Arab Emirates          10235
 Saudi Arabia                   8951
 Netherlands                    8772
 Switzerland                    8678
 Germany                        7941
 Canada                         7894
Name: Reviewer_Nationality, dtype: int64

In [13]:
df['Hotel_Name'].nunique()

1492

In [14]:
def x(country):
    y = df.loc[df['Reviewer_Nationality'] == country,'Hotel_Name'].value_counts()[:1]
    return y.index[0]

In [16]:
for country in top_ten_country:
    print('The most frequently reviewed hotel from viewers from ',country, ' was ',x(country) )

The most frequently reviewed hotel from viewers from   United Kingdom   was  Britannia International Hotel Canary Wharf
The most frequently reviewed hotel from viewers from   United States of America   was  Hotel Esther a
The most frequently reviewed hotel from viewers from   Australia   was  Park Plaza Westminster Bridge London
The most frequently reviewed hotel from viewers from   Ireland   was  Copthorne Tara Hotel London Kensington
The most frequently reviewed hotel from viewers from   United Arab Emirates   was  Millennium Hotel London Knightsbridge
The most frequently reviewed hotel from viewers from   Saudi Arabia   was  The Cumberland A Guoman Hotel
The most frequently reviewed hotel from viewers from   Netherlands   was  Jaz Amsterdam
The most frequently reviewed hotel from viewers from   Switzerland   was  Hotel Da Vinci
The most frequently reviewed hotel from viewers from   Germany   was  Hotel Da Vinci
The most frequently reviewed hotel from viewers from   Canada   was  St James Court A Taj Hotel London

In [17]:
#top 10 most reviewed hotel
df['Hotel_Name'].value_counts()[:10]

Britannia International Hotel Canary Wharf           4789
Strand Palace Hotel                                  4256
Park Plaza Westminster Bridge London                 4169
Copthorne Tara Hotel London Kensington               3578
DoubleTree by Hilton Hotel London Tower of London    3212
Grand Royale London Hyde Park                        2958
Holiday Inn London Kensington                        2768
Hilton London Metropole                              2628
Millennium Gloucester Hotel London                   2565
Intercontinental London The O2                       2551
Name: Hotel_Name, dtype: int64

In [18]:
hotel_group = df.groupby(by='Hotel_Name')

In [19]:
my_avg_score = hotel_group['Reviewer_Score'].mean().round(1)

In [20]:
df['Calc_Average_Score'] = df['Hotel_Name'].map(my_avg_score)

In [21]:
df['Calc_Average_Score'].isnull().any()

False

In [22]:
df.loc[1200:1210,['Hotel_Name','Calc_Average_Score','Average_Score']]

                   Hotel_Name  Calc_Average_Score  Average_Score
1200  Apex Temple Court Hotel                 9.3            9.2
1201  Apex Temple Court Hotel                 9.3            9.2
1202  Apex Temple Court Hotel                 9.3            9.2
1203  Apex Temple Court Hotel                 9.3            9.2
1204  Apex Temple Court Hotel                 9.3            9.2
1205  Apex Temple Court Hotel                 9.3            9.2
1206  Apex Temple Court Hotel                 9.3            9.2
1207  Apex Temple Court Hotel                 9.3            9.2
1208  Apex Temple Court Hotel                 9.3            9.2
1209  Apex Temple Court Hotel                 9.3            9.2
1210  Apex Temple Court Hotel                 9.3            9.2

In [23]:
#checking if any rows have the same aveage score
(df['Calc_Average_Score'] == df['Average_Score']).any()

True

In [29]:
same_avg_score = df.loc[df['Calc_Average_Score'] == df['Average_Score'],'Hotel_Name'].nunique()

In [31]:
print('There\'re', same_avg_score, 'hotels with same score for the Calc_Average_Score and Average_Score columns')

There're 417 hotels with same score for the Calc_Average_Score and Average_Score columns

In [25]:
no_negative = (df['Negative_Review'] == 'No Negative').sum()
no_positive = (df['Positive_Review'] == 'No Positive').sum()

In [26]:
print('The positive_review column has', no_positive,'rows of the respones \'No Positive\'' )
print('The negative_review column has', no_negative,'rows of the respones \'No Negative\'' )

The positive_review column has 35946 rows of the respones 'No Positive'
The negative_review column has 127890 rows of the respones 'No Negative'